body {font-family: sans-serif;

    width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

.menu {}

.main-text {


    
    background-color: yellow;
}

.mainheader{}

.text{}

.article1{}

.article2{}


.sidecontent {
    
    
    
    background-color: rgb(137, 187, 137);

}

.footer{}

